body {
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
}

.top {
  display: flex;
  align-items: center;
  gap: 100px;
}

.arrow {
  height: 150px;
  cursor: pointer;
}

.left {
  transform: rotate(180deg);
}
