* {
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.box-one {
  width: 350px;
  height: 350px;
  padding: 50px;
  background-color: red;
  border: 40px solid black;
  margin: 100px;
  box-sizing: border-box;
}

.box-two {
  background-color: blue;
  border: 40px solid green;
  width: 100px;
  height: 100px;
  padding: 50px;
  margin: 120px;
}
